<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册界面</title>

    <!-- ========== Css Files ========== -->
    <link href="css/root.css" rel="stylesheet">
    <link href="css/plugin/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }

        .login-form {
            width: 500px;
            padding-top: 100px;
            margin: 0px auto;
            text-shadow: none;
        }
    </style>
    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="../js/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap-typeahead.js" type="text/javascript"></script>
    <script src="js/sweet-alert/sweet-alert.min.js"></script>
    <script src="../js/config.js" type="text/javascript"></script>
    <script src="js/register.js" type="text/javascript"></script>
</head>
<body ng-app="register">
<div class="login-form" ng-controller="registerController">
    <form>
        <div class="top">
            <h1>用户注册</h1>
            <h4>快来加入我们!</h4>
        </div>
        <div class="form-area">
            <div class="group">
                <input type="text" name="realName" class="form-control" placeholder="真实名称" ng-model="realName">
                <i class="fa fa-user"></i>
            </div>
            <div class="group">
                性别
                <div class="radio radio-inline radio-primary">
                    <input type="radio" name="gender" id="male" value="1" class="form-control" ng-model="gender"
                           checked>
                    <label for="male">
                        男
                    </label>
                </div>
                <div class="radio radio-inline radio-success">
                    <input type="radio" name="gender" id="feMale" value="0" class="form-control" ng-model="gender">
                    <label for="feMale">
                        女
                    </label>
                </div>
            </div>
            <div class="group">
                <input type="text" name="identify" class="form-control" placeholder="身份证号" ng-model="identify">
                <i class="fa fa-info"></i>
            </div>
            <div class="group">
                <input type="text" name="studentId" class="form-control" placeholder="学号" ng-model="studentId">
                <i class="fa fa-inbox"></i>
            </div>
            <div class="group">
                <input type="text" name="school" id="search" data-provide="typehead" class="form-control"
                       placeholder="学校" ng-model="school">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="group">
                <input type="text" name="location" class="form-control" placeholder="收货地址" ng-model="location">
                <i class="fa fa-location-arrow"></i>
            </div>
            <div class="group">
                <input type="text" name="email" class="form-control" placeholder="邮箱" ng-model="email">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="group">
                <input type="text" name="phone" class="form-control" placeholder="手机" ng-model="phone">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="group">
                <input type="password" name="password" class="form-control" placeholder="密码" ng-model="password">
                <i class="fa fa-key"></i>
            </div>
            <div class="group">
                <input type="password" class="form-control" placeholder="确认密码" ng-model="confirmPassword">
                <i class="fa fa-key"></i>
            </div>
            <button class="btn btn-default btn-block" ng-click="register()">注册</button>
        </div>
    </form>
    <div class="footer-links row">
        <div class="col-xs-6"><a href="login.html"><i class="fa fa-sign-in"></i>去登录</a></div>
        <div class="col-xs-6 text-right"><a href="forgot-password.html"><i class="fa fa-lock"></i>忘记密码</a></div>
    </div>
</div>

</body>
</html>