<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>向我下的订单</title>
    <link href="css/root.css" rel="stylesheet">
    <link href="css/plugin/sweet-alert/sweet-alert.css">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/config.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/sweet-alert/sweet-alert.min.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/orderMe.js"></script>
    <style>
        .container-padding {
            height: 600px;
        }
        a{
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="order">
<!-- Start Page Loading -->
<div class="loading"><img src="img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix" ng-controller="topBarController">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="index.html" class="logo">校园市场</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="搜索商品" ng-model="searchKeyWord">
        <span class="searchbutton" ng-click="searchProduct()" style="cursor: pointer;"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Top Right -->
    <ul class="top-right">

        <li class="dropdown link">
            <a data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="{{headImg}}"
                                                                                       alt="头像"><b>{{currUser.name}}</b><span
                    class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li role="presentation" class="dropdown-header">选项</li>
                <li><a href="userInfo.html"><i class="fa falist fa-wrench"></i>个人信息</a></li>
                <li><a ng-click="logOut()"><i class="fa falist fa-power-off"></i>退出</a></li>
            </ul>
        </li>

    </ul>
    <!-- End Top Right -->
</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix" ng-controller="sideBarController">

    <ul class="sidebar-panel nav">
        <li class="sidetitle">菜单栏</li>
        <li><a href="index.html"><span class="icon color5"><i class="fa fa-home"></i></span>主页</a></li>
        <li><a href="myOrder.html"><span class="icon color6"><i class="fa fa-arrow-up"></i></span>我的订单</a></li>
        <li><a href="orderMe.html"><span class="icon color6"><i class="fa fa-arrow-down"></i></span>向我下的订单</a></li>
        <li><a href="myShoppingCart.html"><span class="icon color6"><i class="fa fa-shopping-cart"></i></span>我的购物车</a>
        </li>
        <li><a href="publishProduct.html"><span class="icon color6"><i class="fa fa-paper-plane"></i></span>发布商品</a>
        </li>
        <li><a href="productManage.html"><span class="icon color6"><i class="fa fa-adjust"></i></span>已发布商品管理</a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">
    <!-- START CONTAINER -->
    <div class="container-padding">


        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        订单管理
                    </div>
                    <div class="panel-body table-responsive" ng-controller="orderController">
                        <p>按状态筛选
                            <select ng-model="queryStatus" ng-change="queryByStatus()">
                                <option value="0">全部</option>
                                <option value="1">未派送</option>
                                <option value="2">派送中</option>
                                <option value="3">已完成</option>
                            </select>
                        </p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>订单编号</td>
                                <td>商品名称</td>
                                <td>商品单价</td>
                                <td>订单数量</td>
                                <td>订单总额</td>
                                <td>订单状态</td>
                                <td>购买人</td>
                                <td>购买人电话</td>
                                <td>购买人邮箱</td>
                                <td>配送地址</td>
                                <td>订购日期</td>
                                <td>完成日期</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in orders">
                                <td>{{order.id}}</td>
                                <td>
                                    <a ng-click="productDetail(order.product.id)" style="cursor: pointer;">{{order.product.name}}</a>
                                </td>
                                <td>{{order.price}}</td>
                                <td>{{order.number}}</td>
                                <td>{{order.totalPrice}}</td>
                                <td>
                                    <span ng-if="order.status==1">未派送</span>
                                    <span ng-if="order.status==2">派送中</span>
                                    <span ng-if="order.status==3">已完成</span>
                                </td>
                                <td>{{order.user.name}}</td>
                                <td>{{order.user.phone}}</td>
                                <td>{{order.user.email}}</td>
                                <td>{{order.user.location}}</td>
                                <td>{{order.orderTime}}</td>
                                <td>{{order.finishTime}}</td>
                                <td>
                                    <button class="btn btn-default" ng-if="order.status==1"
                                            ng-click="confirmSend(order.id)">确认派送
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr align="center">
                                <td colspan="12">
                                    <nav>
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous" ng-click="previous()">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a>{{pageInfo.pageNum}}</a></li>
                                            <li>
                                                <a href="#" aria-label="Next" ng-click="next()">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->


    </div>
    <!-- END CONTAINER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- Start Footer -->
    <div class="row footer">
        <div class="col-md-12 text-center">
            Copyright © 2018 All rights reserved.
        </div>
    </div>
    <!-- End Footer -->
</div>
<!-- End Content -->
</div>
</body>
</html>

