<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已发布商品管理页面</title>
    <link href="css/root.css" rel="stylesheet">
    <link href="css/plugin/sweet-alert/sweet-alert.css">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/config.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/sweet-alert/sweet-alert.min.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/productManage.js"></script>
    <style>
        .container-padding{
            height: 600px;
        }
        a{
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="product">
<!-- Start Page Loading -->
<div class="loading"><img src="img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix" ng-controller="topBarController">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="index.html" class="logo">校园市场</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="搜索商品" ng-model="searchKeyWord">
        <span class="searchbutton" ng-click="searchProduct()" style="cursor: pointer;"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Top Right -->
    <ul class="top-right">

        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="{{headImg}}"
                                                                                       alt="头像"><b>{{currUser.name}}</b><span
                    class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li role="presentation" class="dropdown-header">选项</li>
                <li><a href="userInfo.html"><i class="fa falist fa-wrench"></i>个人信息</a></li>
                <li><a ng-click="logOut()"><i class="fa falist fa-power-off"></i>退出</a></li>
            </ul>
        </li>

    </ul>
    <!-- End Top Right -->
</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix" ng-controller="sideBarController">

    <ul class="sidebar-panel nav">
        <li class="sidetitle">菜单栏</li>
        <li><a href="index.html"><span class="icon color5"><i class="fa fa-home"></i></span>主页</a></li>
        <li><a href="myOrder.html"><span class="icon color6"><i class="fa fa-arrow-up"></i></span>我的订单</a></li>
        <li><a href="orderMe.html"><span class="icon color6"><i class="fa fa-arrow-down"></i></span>向我下的订单</a></li>
        <li><a href="myShoppingCart.html"><span class="icon color6"><i class="fa fa-shopping-cart"></i></span>我的购物车</a>
        </li>
        <li><a href="publishProduct.html"><span class="icon color6"><i class="fa fa-paper-plane"></i></span>发布商品</a>
        </li>
        <li><a href="productManage.html"><span class="icon color6"><i class="fa fa-adjust"></i></span>已发布商品管理</a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">
    <!-- START CONTAINER -->
    <div class="container-padding">


        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        商品管理
                    </div>
                    <div class="panel-body table-responsive" ng-controller="productController">
                        <p>按状态筛选
                            <select ng-model="queryStatus" ng-change="queryByStatus()">
                                <option value="4" selected>全部</option>
                                <option value="0">禁止销售</option>
                                <option value="1">销售中</option>
                                <option value="2">审核中</option>
                                <option value="3">已下架</option>
                            </select>
                        </p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>商品编号</td>
                                <td>商品名称</td>
                                <td>商品单价</td>
                                <td>商品库存</td>
                                <td>商品状态</td>
                                <td>商品类别</td>
                                <td>商品类型</td>
                                <td>发布日期</td>
                                <td>评论功能</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in products">
                                <td>{{product.id}}</td>
                                <td>
                                    <a ng-click="productDetail(product.id)"
                                       style="cursor: pointer;">{{product.name}}</a>
                                </td>
                                <td>{{product.price}}</td>
                                <td>{{product.number}}</td>
                                <td>
                                    <span ng-if="product.status==0">禁止销售</span>
                                    <span ng-if="product.status==1">销售中</span>
                                    <span ng-if="product.status==2">审核中</span>
                                    <span ng-if="product.status==3">已下架</span>
                                </td>
                                <td>
                                    {{product.category.name}}
                                </td>
                                <td>
                                    <span ng-if="product.type==1">常规商品</span>
                                    <span ng-if="product.type==2">二手商品</span>
                                    <span ng-if="product.type==3">拍卖商品</span>
                                </td>
                                <td>{{product.releaseTime}}</td>
                                <td>
                                    <button class="btn btn-danger" ng-if="product.comment==true"
                                            ng-click="shutdownComment(product.id)">关闭
                                    </button>
                                    <button class="btn btn-danger" ng-if="product.comment==false"
                                            ng-click="turnOnComment(product.id)">打开
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal"
                                            ng-click="updateProduct(product)"
                                            ng-if="product.status!=0&&product.status!=3">修改
                                    </button>
                                    <button class="btn btn-default" ng-click="soldOutProduct(product.id)"
                                            ng-if="product.status==1">下架
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr align="center">
                                <td colspan="10">
                                    <nav>
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous" ng-click="previous()">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a>{{pageInfo.pageNum}}</a></li>
                                            <li>
                                                <a href="#" aria-label="Next" ng-click="next()">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">商品信息管理</h4>
                                    </div>
                                    <div class="modal-body">
                                        价格
                                        <div class="group">
                                            <input type="number" class="form-control" ng-model="productPrice">
                                        </div>
                                        库存
                                        <div class="group">
                                            <input type="number" class="form-control" ng-model="productNumber">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-default" ng-click="confirmUpdate()">确认
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->


    </div>
    <!-- END CONTAINER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- Start Footer -->
    <div class="row footer">
        <div class="col-md-12 text-center">
            Copyright © 2018 All rights reserved.
        </div>
    </div>
    <!-- End Footer -->
</div>
<!-- End Content -->
</div>
</body>
</html>

